body {
    background-color: #ECEEF1;
}

#main-wrapper {
    display: flex;
    flex-direction: column;
}

header {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#signin-link {
    padding-right: 2em;
    display: flex;
}

#forgot-pwd {
    display: flex;
    flex-direction: column;
}

#signin {
    padding: 1em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 80vh;
    background-color: aqua;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#brand {
    align-self: center;
    margin-top: 1em;
}

#links {
    display: flex;
    flex-direction: row;
    margin: 1em;
}

.brand-links {
}

.svg-brand-link {
    height: 23px;
    width: 23px;
}

footer {
    height: 10vh;
    background-color: antiquewhite;
}

