body {
    background-color: #ECEEF1;
}

#main-wrapper {
    display: flex;
    flex-direction: column;
}

header {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#signin-link {
    padding-right: 2em;
    display: flex;
}

#forgot-pwd {
    display: flex;
    flex-direction: column;
}

#signin {
    padding: 1em;
}

main {
    width: 100vw;
    height: 80vh;
    background-color: aqua;
}

footer {
    height: 10vh;
    background-color: antiquewhite;
}

